@font-face {
    font-family: "julius";
    src: url("../fonts/JuliusSansOne-Regular.ttf");
}
@font-face {
    font-family: "sacramento";
    src: url("../fonts/Sacramento-Regular.ttf");
}
.header{
    text-align: center;
}
.header h1{
    display: inline-block;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 35px;
    padding: 5px;
}
body {
    margin: 0px;
    width: 100%;
    overflow-x: hidden;
    margin-right: 0px;
    margin-left: 0px;
    font-family: 'julius';
}
#login-footer p {
    vertical-align: center;
    margin: auto;
    color: white;
}
#login-footer p {
    color: #202026;
}
#login-footer {
    color: black;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: #FAFAFA;
    position: relative;
    font-size: 17px;
    margin-right: 0px;
    height: auto;
    width: 100%;
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "sacramento";
    font-size: 25px;
}
h1 {
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
}
h2 {
    margin: auto;
    display: inline;
}
.score_table{
    border: solid 1px black;
    height: 550px;
    width: 100px;
    margin: auto;
    margin-top: 40px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
.score_table td,th{
    text-align: center;
    
}
.lightsout {
    border: solid 1px black;
    width: 550px;
    height: 550px;
    margin: auto;
    margin-top: 40px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
.score {
    border: solid 1px black;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 550px;
    text-align: center;
}
td {
    border: solid 1px black;
}
.score td {
    padding: 20px;
}
.lightsout tr td {
    width: 20%;
    height: 20%;
    text-align: center;
}
.lightsout td:hover {
    cursor: pointer;
    opacity: 0.5;
}
.help {
    width: 80%;
    margin: auto;
    font-size: 38px;
    text-align:justify;
    font-size-adjust: auto;
    
}
a {
    text-decoration: none;
}
#back a:hover {
    cursor: pointer;
}
button {
    display: block;
    margin: auto;
    margin-bottom: 5px;
    position: relative;
    height: 45px;
    width: 150px;
    padding: 5px 5px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    color: #383736;
    border: 2px #383736 solid;
    border-radius: 4px;
    text-transform: uppercase;
    outline: 0;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}
@media all and (max-width: 1024px) {
    button{
        width: 90%;
        margin-bottom: 20px;
    }
    .lightsout {
        border: solid 1px black;
        width: 90%;
        height: 55%;
        margin: auto;
        margin-top: 40px;
    }
    .help {
        width: 95%;
        font-size: 40px;
        font-size-adjust: auto;
    }
    #login-footer {
        display: none;
        font-size: 30px;
        height: auto;
    }
    #login-footer p {
        margin: auto;
        padding: auto;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 38px;
    }
    .score {
        font-size: 30px;
        margin-bottom: 40px;
        margin-top: 40px;
        width: 90%;
    }
    .score td {
        padding-right: 0px;
        padding-left: 0px;
    }
    .button {
        width: 200px;
    }

}

.reset {
    -webkit-transition: all 150ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
}
.reset:before {
    position: absolute;
    content: "";
    background: url(https://f.cl.ly/items/3H3A0D1N281a2T280F3o/heist.svg) no-repeat center center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.reset:after {
    content: "";
    position: absolute;
    background: #202026;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -2;
    -webkit-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.reset:hover {
    color: white;
}
.reset:hover:before {
    opacity: .8;
}
.reset:hover:after {
    top: 0;
}
.score_table{
    width: 90%;
    margin-bottom: 10px;
}