@font-face {
    font-family: "julius";
    src: url("../fonts/JuliusSansOne-Regular.ttf");
}
@font-face {
    font-family: "sacramento";
    src: url("../fonts/Sacramento-Regular.ttf");
}

.sweet-overlay {
  background-color: rgba(44, 41, 41, 0.6)!important;
}

.sweet-alert p{
    color: black !important;
    font-family: "julius";
}
.sweet-alert{
background-color: rgba(204, 229, 135, 0.94) !important;
  border: 3px solid white !important;
}
.sweet-alert h2{
  color: black !important;
  margin: 0px;
  font-size: 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
  margin-bottom: 28px;
   font-family: "julius";

}
.swal-score td{
    padding: auto;
    text-align: center !important;
}
.swal-score table{
    border: 1px black solid;
    border-collapse: collapse;
}
body{
    overflow-x: hidden;
    margin: 0px;
    overflow-y: hidden;
}
#score_button{
    display: none;
}
.music_control{
    float: left;
    position: fixed;
    margin-left: 5px;
}
.music_control:hover{
    cursor: pointer;
}
.swal-wide{
    top: 25% !important;
    text-align: center;
}
.smartbanner {
    display: none;
    left:0;top:0;
    width:100%;
    height:78px;
    font-family: "julius";
    background:#fff;
    overflow:hidden;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:none;
}
.smartbanner-container {
    margin:0 auto;
}
.smartbanner-close {
    position:absolute;
    left:7px;top:7px;
    display:block;
    font-family:"sacramento";
    font-size:15px;
    text-align:center;
    text-decoration:none;
    border-radius:14px;
    -webkit-font-smoothing:subpixel-antialiased;
    border:0;
    width:17px;
    height:17px;
    line-height:17px;
    color:#b1b1b3;
    background:#efefef;
}
.smartbanner-close:active,.smartbanner-close:hover {
    color:#333;
}
.smartbanner-icon{
    position:absolute;
    left:30px;
    top:10px;
    display:block;
    width:57px;
    height:57px;
    background-color: #fff;
    background-size:cover;
    background-image: url("http://www.lightsout.ir/images/og-icon.png");
}
.smartbanner-info{
    position:absolute;
    left:98px;
    top:15px;
    width:44%;
    font-size:12px;
    line-height:1.2em;
    font-weight:bold;
    color:#999;
}
.smartbanner-title {
    font-size:15px;
    line-height:17px;
    color:#000;
    font-weight:bold;
}
.smartbanner-button{
    position:absolute;
    right:20px;
    top:24px;
    border-bottom:3px solid #b3c833;
    padding:0 10px;
    min-width:12%;
    height:24px;
    font-size:14px;
    line-height:24px;
    text-align:center;
    font-weight:bold;
    color:#fff;
    background-color:#b3c833;
    text-decoration:none;
    border-radius:5px;
}
.smartbanner-button:hover {
    background-color: #c1d739;
    border-bottom:3px solid #8c9c29;
}
.smartbanner-button-text {
    text-align:center;
    display:block;
    padding:0 5px;
}

.donate_image{
    width: 80%;
    height: auto;
}
.timer{
    text-align: center;
    font-size: 40px;
    font-weight: 300;
}
.hint_table{
    margin: auto;
    text-align: center;
    font-size: 37px;
    margin-bottom: 15px;
}
.help_image{
    text-align: center;
    margin: auto;
    padding: auto;
    width: 550px;
    height: 550px;
    
}
#submit_button{
    display: none;
}
.header{
    text-align: center;
    margin-bottom: 20px;
}
body {
    margin: 0px;
    width: 100%;
    overflow-x: hidden;
    margin-right: 0px;
    margin-left: 0px;
    font-family: 'julius';
}
#login-footer p {
    vertical-align: center;
    margin: auto;
    color: #fafafa;
}
#login-footer p {
    color: #fafafa;
}
#login-footer {
    background: transparent;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: #202026;
    position: relative;
    font-size: 17px;
    margin-right: 0px;
    height: auto;
    width: 100%;
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "sacramento";
    font-size: 25px;
}
h1 {
    color: #fafafa;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
}
h2 {
    color: #fafafa;
    margin: auto;
    display: inline;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
.score_table{
    border-radius: 4px;
    border: solid 1px #202026;
    height: 550px;
    width: 40%;
    margin: auto;
    margin-top: 40px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
.score_table td,th{
    text-align: center;
    color: #202026;
    
}
.lightsout {
    table-layout: fixed;
    border-radius: 4px;
    z-index: +1;
    border: solid 1px black;
    width: 550px;
    height: 550px;
    margin: auto;
    padding: 2px;
    margin-top: 40px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
.score {
    border-radius: 4px;
    border: solid 1px black;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 550px;
    text-align: center;
}
td {
    border-radius: 4px;
    border: solid 1px #202026;
}
.score td {
    padding: 20px;
}
.lightsout tr td {
    table-layout: fixed:
    width: 20%;
    height: 20%;
    text-align: center;
    
}
.lightsout td:hover {
    cursor: pointer;
    opacity: 0.5;
}
.help {
    width: 80%;
    margin: auto;
    font-size: 32px;
    text-align: justify;
    font-size-adjust: auto;
    hyphens: auto;
    
}
.help h3{
    text-align: center;
}
a {
    text-decoration: none;
}
#back a:hover {
    cursor: pointer;
}
.button_section{
    text-align: center;
}
button {
    display: inline;
    margin: 7px;
    margin-bottom: 5px;
    position: relative;
    height: 45px;
    width: 170px;
    padding: 5px 5px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    color: #383736;
    border: 2px #383736 solid;
    border-radius: 4px;
    text-transform: uppercase;
    outline: 0;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}
@media all and (max-width: 1024px) {
    .swal-bitcoin p{
        font-size: 13px !important;
    }
    .sweet-alert p{
        font-size-adjust: auto !important;
    }
    #saythanks{
        margin-bottom: 93px;
    }
    #Restart{
        margin-bottom: 93px;
    }
    .donate_image{
    width: 550px;
    height: auto;
}
    
    .header button{
        width: 550px;
        margin-bottom: 20px;
    }
    .button_section button{
        width: 550px;
        margin-bottom: 20px;
    }
    .lightsout {
        border: solid 1px black;
        height: 550px;
        width: 550px;
        table-layout: fixed;
        margin: auto;
        margin-top: 40px;
    }
    .help {
        width: 550px;
        font-size: 34px;
        text-align: center;
        hyphens: auto;
    }
    #login-footer {
        position: relative;
        display: none;
        font-size: 30px;
        height: auto;
    }
    #login-footer p {
        margin: auto;
        padding: auto;
    }
    h1 {
        font-size: 37px;
    }
    h2 {
        font-size: 36px;
    }
    .score {
        font-size: 20px;
        margin-bottom: 40px;
        margin-top: 40px;
        width: 550px;
    }
    .score td {
        padding-right: 0px;
        padding-left: 0px;
    }
    .button {
        width: 200px;
    }
    .help_image{
    width: 550px;
    height: 550px;
    
}
    .hint_table{
    width: 90%;
}
}

@media all and (max-width: 512px) {
    
    .help {
        width: 300px;

    }
        .donate_image{
    width: 300px;
    height: auto;
}
    
    .lightsout{
        
        width: 300px;
        height: 300px;
    }
     .header button{
        width: 300px;
    }
    .button_section button{
        width: 300px;
    }
    
        .help_image{
    width: 300px;
    height: 300px;
    
}
    
     .score {
        width: 300px;
    }
    
    
}
@media all and (max-width: 512px)  and (orientation:landscape){
    
    .lightsout{
        
        width: 550px;
        height: 550px;
    }
    
        .help_image{
    width: 550px;
        height: 550px;
    
}

}

.reset {
    -webkit-transition: all 150ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
}
.reset:before {
    position: absolute;
    content: "";
    background: url(https://f.cl.ly/items/3H3A0D1N281a2T280F3o/heist.svg) no-repeat center center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.reset:after {
    content: "";
    position: absolute;
    background: #202026;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -2;
    -webkit-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.reset:hover {
    color: white;
}
.reset:hover:before {
    opacity: .8;
}
.reset:hover:after {
    top: 0;
}
.score_table{
    width: 90%;
    margin-bottom: 10px;
}

#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    background-image: url('');
    background-size: cover; 
    background-repeat: no-repeat;
  }


.siteWrapper {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
}

