@font-face {
    font-family: "ubuntu";
    src:url("fonts/Ubuntu-R.ttf");
}
body{
    font-family: "arial";
    width: 100%;
    overflow-x:hidden;
    margin-right: 0px;
    margin-left: 0px;
}
#login-footer p{
    vertical-align: center;
    margin:auto;
    color: white;
}
#login-footer p{
    color: navajowhite;
}

#login-footer{
    color: black;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: #4FC3F7;
    position:fixed;
    font-size: 17px;
    margin-top: 100px;
    margin-right: 0px;
    height: auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
h1{
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
}
h2{
    margin: auto;
    display: inline;
    
}
.reset{
    
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 10%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 100px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    font-size: 26px;
    background-color: #4FC3F7;
    width: 550px;
}
.reset:hover{
    cursor: pointer;
    opacity: 0.4;
}

.lightsout{
    border: solid 1px black;
    width: 550px;
    height: 550px;
    margin: auto;
    margin-top: 40px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.score{
    border: solid 1px black;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 550px;
    text-align: center;
}
td{
    border: solid 1px black;
    
}
.score td{
    padding: 20px;
}
.lightsout tr td{
    width: 20%;
    height: 20%;
    text-align: center;
}
.lightsout td:hover{
    cursor: pointer;
    opacity: 0.5;
}
.help{
    width: 80%;
    margin: auto;
    font-size: 38px;
    justify-content:space-between;
    
}


a{
    text-decoration: none;
}
#back a:hover{
    cursor: pointer;
}
@media all and (max-width: 1024px) {
    
   .lightsout{
    border: solid 1px black;
    width: 90%;
    height: 55%;
    margin: auto;
    margin-top: 40px;
} 
  .help{
    width:95%;

    font-size: 45px;
}
    
    
    #login-footer{
        display: none;
        font-size: 30px;
        height: auto;
    }

     #login-footer p{
        margin: auto;
        padding: auto;
    }
h1{
    font-size: 40px;
}
h2{
   
   font-size: 38px; 
}
.reset{
    font-size: 40px;
    width: 90%;
}
    .score{
        font-size: 30px;
        margin-bottom: 40px;
        margin-top: 40px;
        width: 90%;
    }
    .score td{
        padding-right: 0px;
        padding-left: 0px;
    }
}