css/awsome linguist-vendored
css/themes linguist-vendored
css/sweetalert.css linguist-vendored
js/particles.js linguist-vendored
js/particles.min.js linguist-vendored
js/shortcut.js linguist-vendored
js/sweetalert.min.js linguist-vendored
js/rythm.min.js linguist-vendored
js/sweetalert-dev.js linguist-vendored