.score{
    margin-top: 30px;
text-align: center;
}
h1{
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}
h2{
    margin: auto;
    display: inline;
}
table{
    border: solid 1px black;
    width: 550px;
    height: 550px;
    margin: auto;
    margin-top: 40px;
}

td{
    border: solid 1px black;
}
td:hover{
    cursor: pointer;
}
.help{
    width: 80%;
    margin: auto;
    font-size: 38px;
    justify-content:space-between;
    
}

#back a{
    text-decoration: none;
}
#help_page a{
    text-decoration: none;
}
#back a:hover{
    cursor: pointer;
}
@media all and (max-width: 1024px) {
    
   table{
    border: solid 1px black;
    width: 90%;
    height: 55%;
    margin: auto;
    margin-top: 40px;
} 
  .help{
    width:95%;

    font-size: 45px;
}  
}